html,body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #fbdcee;
}
h1,h2,h3,h4,h5 {
  color: black;
  font-family: 'helvetica';
}
form {
  float: left;
  width: 100%;
}
form input[type='text'] {
  float: left;
  width: 70%;
  font-size: 15px;
  padding: 10px 20px;
  font-family: 'helvetica';
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #ddd;
}
form input[type='submit'] {
  float: left;
  width: 30%;
  border: 0;
  font-family: 'helvetica';
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 16px;
  padding: 11px 10px 10px 10px;
  background-color: #a8ffd8;
  font-weight: bolder;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
form input[type='submit']:hover {
  background-color: #a8ffd8;
}
.giphy-tag-wrapper {
  float: left;
  width: 100%;
  padding: 20px;
}
.tag-item {
  color: black;
  font-size: 16px;
  font-family: 'helvetica';
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  border: 3px solid #a8ffd8;
  border-radius: 3px;
  background-color: transparent;
  transition: 0.2s all ease-in-out;
  margin: 5px;
}
.tag-item:hover {
  background-color: #a8ffd8;
  border: 3px solid #a8ffd8;
  color: #000;
}
.content-wrapper {
  float: left;
  width: 100%;
  padding: 0 25px;
}
.search-col {
  float: left;
  width: 70%;
}
.add-tag-col {
  float: left;
  width: 30%;
}
.search-content {
  float: left;
  width: 100%;
}
.gif-container {
  float: left;
  width: 25%;
  height: 200px;
  overflow: hidden;
}
.gif-container img {
  float: left;
  width: 100%;
  height: auto;
}
